@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=PT+Serif:wght@700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=PT+Serif:wght@700&family=Playfair+Display:ital@1&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kaushan+Script&family=PT+Serif:wght@700&family=Playfair+Display:ital@1&family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color: #fd4646;
    --text-color:#171427;
    --bg-color:#fff;
}
li a{
    text-decoration: none;
    
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
:root{
    color: var(--#464678);

}


.coza-header{
    padding: 10px;
    background-color:#dfe6e9;

}
.coza-logo{
    align-items: center !important;
}
.coza-menu{
   align-items: center;
   margin-top: 10px;
   
}
.coza-menu ul{
    display: flex;
    
}
.coza-menu ul li{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    
}
.coza-menu ul li a{
    font-family: 'Poppins', sans-serif;
    color: #555;
    position: relative;
}
.coza-menu a::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #6c5ce7;
    left: 0;
    bottom: -10px;
    transition: all 0.5s ease-out;
}
.coza-menu a:hover::after{
    width: 100%;

}
.coza-shop{
    padding: 4px;
}
.coza-shop{
    font-size: 22px;

}
.serch-1{
    padding: 5px;
    cursor: pointer;
    font-size: 30px;
}
.shop-1{
    padding: 5px;
    cursor: pointer;
    font-size: 30px;
}

        /*---------MOBILE MENU-----*/
.menu-icon{
    
        
}
.mobile-menu{
     background: #fff;
     box-shadow: 3px 0 2px #dcdde1;
     width: 250px;
     height: 100vh;
     position: absolute;
     top: 0;
     left: -250px;
     padding: 10px 25px;
    position: fixed;
     z-index: 888;
     transition: all 0.3s ease-in-out;
        
}
.mobile-menu.active{
    left: 0;
}
.menu-close{
     padding: 10px 0;
    text-align: right;
    cursor: pointer;
}
.menu-close i{
     font-size: 25px;
 }
.search-bar{
     width: 100%;
     border: 1px solid #171718;
        position: relative;
 }
 .search-bar input{
        display: block;
        width: 100%;
        border: none;
        background: transparent;
        padding: 0 5px;
  }
.search-bar button{
        background: transparent;
        border: none;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
 }
 #nav-bars{
    margin-left: 14px;
    font-size: 33px;
    cursor: pointer;
    display: none;
 }
.mobil-nav{
    padding: 20px 0;
 }
.mobil-nav ul{
    margin: 0;
    padding: 0;
}
.mobil-nav ul li{}
.mobil-nav ul li a{
    text-transform: capitalize;
    display: block;
    padding: 8px 0;
    color: #222222;
    font-weight: 600;
}

.carousel-item{
    height:90vh !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   position: relative;
   z-index: 1;   
}
.carousel-item::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #c7ecee2d;
    z-index: -1;
}
.slid-content{
    
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%,-50%);
}
.slid-content h1{
    font-size: 28px;
    font-family: 'Fjalla One', sans-serif;
    color: #333333;
}
.slid-content h2{
    font-size: 50px;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}
.slid-content button{
    padding: 12px 42px;
    background-color: #74b9ff;
    color: white;
    font-size: 16px;
    border-radius: 26px;
    border: none;
    transition: all 0.5s ease-in-out;
}
.slid-content button:hover{
    background-color: #333333;

}
.carousel-item.active h1{
    animation: fadeInLeft 0.5s ease forwards;
}
.carousel-item.active h2{
    animation: ferdeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px)
    }
}
@keyframes ferdeInRight {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px)
    }
}

.carosul-crontols{
    padding: 0 !important;
    position: absolute;
    bottom: 40px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
}
.carousel-indicators{
    position: relative !important;
}
.carousel-indicators button{
    position: relative !important;
    margin: 0 !important;

}

.carousel-indicators button{
    height: 70px!important ;
    width: 90px !important;
    margin: 0 5px !important;
    border-radius:50% !important; 
    background-position: center !important;
    background-size: cover !important;
    border: 1px solid transparent;
}
.carousel-indicators button.active{
    border-color: #fff;
}


/* spring-section */


.spring-section{
    margin: 80px 0;

}

.spring-conten{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
}
.spring-conten img{
    width: 100%;
}


.spring-conten{
    position: relative;

}


.spring-hoverct{
    background:#8591deb9;
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
	height: 100%;
	opacity: 0;
	transition: 0.6s;
    cursor: pointer;
}
.spring-hoverct:hover{
        opacity: 1;
        
       
}
.conten-artekal{
    position: absolute;
    top: 20px;
    left: 45px;

}

.conten-artekal h4{
    font-weight: 600;
}
.conten-artekal p{
    font-weight: 400;
}
.spring-hoverct button{
   margin-top: 54%;
   margin-left: 40px;
   background: transparent;
   border: none;
   text-transform: uppercase;
   color: #fff;
   font-weight: 600;
    
}
.sudo-elt{
    content: "";
    height: 2px;
    width: 80px;
    background-color: #fff;
    top: 90%;
    left: 40px;
    position: absolute;
}
/* spring-section end */



.shop-prodect{
    margin-bottom: 110px;

    
}
.shop-titel{
    margin-bottom: 60px;
    


}
.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
   
   
}
.products-box{
    position: relative;
    
    
    
}
.products-box:hover{
    padding: 10px;
    border: 2px solid var(--text-color);
    transition: 0.5s;

}
.product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.4rem;
}
.products-title{
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}
.price{
    font-weight: 600;

}
.add-card{
    bottom: 0;
    right: 0;
    position: absolute;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
    border-top-left-radius: 7px;


}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    background-color: var(--bg-color);
    min-height: 100vh;
    padding: 20px;
    transition: 0.5s ease-in-out;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    z-index: 999;
    
    
}
.cart.active{
    right: 0;
    
}
.cart-title{
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 2rem;

}
.cart-box{
    display: grid;
    grid-template-columns: 40% 40% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.cart-img{ 
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;

}
.cart-detels{
    display: grid;
    row-gap: 0.5rem;

}
.cart-quntaty{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.5rem;
    text-align: center;
    font-size: 1rem;

}
.cart-remove{
    font-size: 25px;
    color: var(--main-color);
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.6rem;
    border-top: 1px solid var(--text-color);
}
.total-titel{
    font-size: 1rem;
    font-weight: 600;

}
.total-price{
    margin-left: 0.4rem;

}
.buy-button{
    padding: 10px 22px;
    display: flex;
    margin: 1.5rem auto 0 auto;
    border: none;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;

}
.buy-button:hover{
    background-color: var(--text-color);
    
}
#close-bar{
position: absolute;
top: 1rem;
right: 0.9rem;
font-size: 2rem;
cursor: pointer;
color: var(--text-color);
}


/* footer */



.footer{
    background-color:#222222 ;
}
.fotter-area{
    padding: 70px 0 100px 0;
}
.footer-catarori{}
.footer-catarori p{
    color: #fff;
    padding: 0 0 0 25px;
}
.footer-catarori ul {
    margin-top: 20px;
}
.footer-catarori li a{
    color: #ffffff87;
    transition: all 0.4s ease-in;    
}
.footer-catarori li {
    padding: 4px 0;
        
}
.footer-catarori li a:hover{
    color: #6c5ce7;
}
.help-senter{}
.help-senter p{
    color: #ffffff;
    padding: 0 0 0 30px;
}
.help-senter ul{}
.help-senter li a{
    color: #ffffff7f;
    transition: all 0.5s ease-in;
}
.help-senter li{
    padding: 4px 0;
}
.help-senter li a:hover{
    color: #6c5ce7;
}
.touch-conten{}
.touch-conten p{
    color: #ffffff8f;
    margin-top: 20px;
    padding: 0 0 0 30px;
}
.touch-conten h5{
    color: #fff;
    padding: 0 0 0 30px;
}

.touch-conten a i{
    margin-left: 24px;
    margin-top: 14px;
    color: #ffffff75;
    transition: all 0.5s ease-in;
}
.touch-conten i {
    font-size: 23px;
}
.subscribe-section{
    margin-left: 40px;
}
.subscribe-section p{
    color: #fffffff4;
}
.touch-conten i:hover{
    color: #6c5ce7;
}
.subscribe-section input{
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    color: #fff; 
}
.soudo-sub{
    content: "";
    height: 1px;
    width: 70%;
    background-color: #fff;
    margin-top: 10px;
    
  
    
}

.subscribe-section button{
    margin-left: 20px;
    margin-top: 28px;
    padding: 10px 32px;
    border-radius: 30px;
    background-color: #6c5ce7;
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    font-weight: 600;
  
  

}
.subscribe-section button:hover{
    background-color: #fff;
    color: #6c5ce7;
}


/*-----------------Shop PAge----------*/


.section-2{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;

}
.img-log{
    position: relative;
    width: 50%;
    height: 100%;
}
.img-log::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#e91e63,#03a9f4);
    z-index: 2;
    mix-blend-mode: screen;
}
.img-log img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* log-conten */

.log-conten{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    align-items: center;
}
.frombox{
    width: 50%;
}
.frombox h2{
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.inputBox{
    margin-bottom: 20px;
}
.inputBox span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 500;
    letter-spacing: 1px;
}
.inputBox input{
    width: 100%;
    padding: 10px 22px;
    background: transparent;
    font-size: 16px;
    letter-spacing: 1px;
    border: 1px solid #607d8b;
    outline: none;
    font-weight: 400;
    border-radius: 30px;
}
.inputBox input[type="submit"]{

    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    background: #ff4585;
    cursor: pointer;

}
.inputBox input[type="submit"]:hover{
    background-color: #f53677;
}
.rember{
    margin-bottom: 10px;
    color: #607d8b;
    font-size: 14px;
    font-weight: 400;
}
.scl-icon ul{ 
display: flex;
letter-spacing: 20px;
font-size: 46px;
margin-top: 20px;
text-align: center;
 justify-content: center;

}
.log-medias{
    margin-top: 80px;
}
.log-medias {
    color: #8395a7;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
}
.fb-icon{
    
}
.ins-icon{
    color: #F302D3;
}
.pren-icon{
    color: red;
}

/* Log Ing Responsive */

@media(max-width:768px){
.img-log{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.log-conten{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 333;
}

.frombox{
    width: 100%;
    padding: 40px;
    background: rgb(225 225 225 / 0.9);
    margin: 50px;
}

}





/*========= page Contact ==========*/


.contact-sections{
    height: 100vh;
    display: grid;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}
.contact-wrap{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.contact-in{
    padding: 40px 30px;
}
.contact-in:nth-child(1){
    flex: 30%;
    background: #6c5ce7;
    color: #fff;
    background-image: cover;
    justify-content: center;
    background-repeat: no-repeat;
}
.contact-in:nth-child(2){
    flex: 45%;
    background-color: #60a3bc;
}
.contact-in:nth-child(3){
    flex: 25%;
    padding: 0;
}
.contact-in h1{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    
}
.contact-in h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 14px;


}
.contact-in h2 i{
    font-size: 16px;
    height: 40px;
    width: 40px;
    background-color: #fff;
    margin-right: 10px;
    line-height: 40px;
    border-radius: 50px;
    color: #000;
    text-align: center;

}
.contact-in p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 14px;
}
.fb-ins-tw{
    margin-top: 60px;
}
.fb-ins-tw ul{
    font-size: 30px;
    display: flex;
   
    padding: 0;
    
    
}

.fb-ins-tw li a{
   
    padding: 10px 12px;

}
.fb-ins-tw i{
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
    color: #555;
    transition: all 0.4s ease-in-out;
}
.fb-inf:hover{
    color: #03a9f4;
    background-color: #222222;
}
.ins-inf:hover{
    color: #F302D3;
    background-color: #222222;
}
.twr-inf:hover{
    color: #03a9f4;
    background-color: #222222;
}


.contact-in form{
    width: 100%;
    height: auto;
}
.contact-in-input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;

}
.contact-in-input::placeholder{
    color: #fff;
}
.contact-in-textarea{
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-left: 5px;
    padding-top: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;


}
.contact-in-textarea::placeholder{
    color: #fff;
}
.contact-in-btn{
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.contact-in iframe{
    width: 100%;
    height: 100%;
}


/*----------------page contact Responsive-----*/

@media(max-width:480px){
    .contact-in:nth-child(1){
        flex: 50%;
      
    }
    .contact-in:nth-child(2){
        flex: 50%;
        
    }
    .contact-in:nth-child(3){
        flex: 100%;
       
    }
}
@media(max-width:360px){
    .contact-in:nth-child(1){
        flex: 50%;
      
    }
    .contact-in:nth-child(2){
        flex: 50%;
        
    }
    .contact-in:nth-child(3){
        flex: 100%;
       
    }
}

/*---------------BlOg PAge-----------*/
.blog-section{
    background-color: #dff9fb;
    padding: 0 0 30px 0;
}
.blog-content{
    padding: 30px 10px;
}
.fast-img{}
.fast-img img{
    width: 90%;
    border-radius: 32px;
  
}
.fast-content{
    display: flex;
    justify-content: space-between;
    
}
.fast-artekal h1{
    color: #222222;
    margin-bottom: 20px;
    font-family: 600;
    font-family: 'Fjalla One', sans-serif;
    

}

.blog-content h5{
    text-align: center;
    font-weight: 700;
    color: #222222;
    padding: 16px 0 50px 0;
    font-size: 30px;
    
    font-family: 'Playfair Display', serif;

}
/*-------Service Section----*/






.service-about{
    background-color: ;
    margin-bottom: 40px;
}
.work{
    padding: 70px 0;
   
}
.work h3{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-weight: 700;
}
.work h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.item{
  
}
.item img{
    margin-left: 20px;

    
   
}
.item h5{
    padding: 12px 0;
    margin-top: 12px;
    font-size: 22px;
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
}
.item p{
    width: 88%;
    margin-bottom: 70px;
}


/*-----------About SEction-------*/

.about-content{
text-align: center;
  font-size: 50px;
  line-height: 1.1;
  padding: 100px 0;
  color: #fff;
  font-weight: 600;

}
.about-img{
    background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.about-detels{
    margin-top: 100px;
    
}
.all-about{
    
}
.about-story{}
.about-story h4{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 18px;
}
.about-story p{
    font-size: 15px;
    text-align: start;
    width: 96%;
    color: #0000007d;
    line-height: 1.333333;
    
}
.Story-img{
   display: block;
   overflow: hidden;
    
}
.Story-img img{
    width: 100%;
    -webkit-transition: transform 0.9s ease;
  -o-transition: transform 0.9s ease;
  -moz-transition: transform 0.9s ease;
  transition: transform 0.9s ease;
   
}
.Story-img:hover img{
    -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.how-bor1{
    position: relative;
    z-index: 1;
    margin-left: 40px;
}
.how-bor1::before{
    content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 3px solid #ccc;
}
.how-bor1::before {
    bottom: -21px;
    left: -21px;
  }




  .about-detels2{
    margin-top: 140px;
    margin-bottom: 120px;
  }
  .how-bor2{
    position: relative;
    z-index: 1;
    
  }
  .how-bor2::before{
    content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 3px solid #ccc;
  }
  .how-bor2::before{
    bottom: -21px;
  right: -21px;
  }
  .story-imgs2{}
  .story-imgs2 img{
    width: 100%;
  }
  .about-story2{
    margin-left: 75px;
  }
  .about-story2 h4{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 18px;
  }
  .about-story2 p{
    font-size: 15px;
    text-align: start;
    
    color: #0000007d;
    line-height: 1.333333;
  }
  .story-imgs2{
    display: block;
    overflow: hidden;
     
 }
 .story-imgs2 img{
     width: 100%;
     -webkit-transition: transform 0.9s ease;
   -o-transition: transform 0.9s ease;
   -moz-transition: transform 0.9s ease;
   transition: transform 0.9s ease;
    
 }
 .story-imgs2:hover img{
     -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
   transform: scale(1.1);
 }

 /*---end About----*/